/* Root Variables */
:root {
    --primary-color: #0066cc;
    --secondary-color: #ff6600;
    --text-color: #333333;
    --bg-color: #ffffff;
    --footer-bg-color: #f1f1f1;
}

/* Apply general styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    text-align: right;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.0rem;
    background-color: var(--primary-color);
    text-align: right;
}

header img {
    width: 60px;
}

header nav {
    width: 100%;
    text-align: right;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 0.25rem;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

/* Hero section styling */
.hero {
    position: relative;
    width: 100%;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: #ff6600;
    font-size: 2rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5x;
}


/* History and adventure sections */
section {
    text-align: center;
}

section h2 {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

section p {
    margin-bottom: 15px;
}

section img {
    width: 80%;
    border-radius: 0px;
    margin-bottom: 15px;
}

section .adventure-item {
    margin-bottom: 30px;
    text-align: center;
}

section .adventure-item h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: var(--primary-color);
}

/* Footer styles */
footer {
    background-color: var(--primary-color);
    padding: 15px 0;
    text-align: center;
}

footer a {
    margin: 0 10px;
    display: inline-block;
    text-align: center;
}

footer a img {
    width: 40px;
}
