:root {
    --primary-color: #5D2A42;
    --secondary-color: #FCB1A6;
    --font-color: #FFDCCC;
    --background-color: #FFF9EC;
}

body {
    font-family: 'Kanit', sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;  
}


header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
}

.logo-box img {
    max-height: 50px;
}

header h1 {
    font-size: 2rem;
    color: var(--font-color);
    text-align: center;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 400;
}

.hero {
    position: relative;
    text-align: center;
    color: var(--secondary-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 5rem;
    padding: 10px 20px;
}

.hero article {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(93, 42, 66, 0.5);
    color: var(--font-color);
    padding: 20px;
    width: 80%;
    max-width: 600px;
}

.hero article img {
    float: right;
    margin-left: 20px;
    max-width: 50%;
}

.hero article p {
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

section.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    gap: 20px;
    padding: 20px;
    align-items: center;
}

section.history h2 {
    grid-column: 2; 
    text-align: center;
    color: var(--primary-color);
    margin: 0;
}

section.history p {
    background-color: var(--primary-color);
    padding: 20px;
    margin: 0;
}

section.history p:first-of-type {
    grid-column: 1; 
}

section.history p:last-of-type {
    grid-column: 3; 
}
section.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}

section.adventures img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1; 
}

section.adventures figure {
    margin: 0;
}

section.adventures figcaption {
    text-align: center;
    color: var(--font-color);
    background-color: var(--primary-color);
    padding: 5px;
}

section.adventures h2 {
    grid-column: 1 / -1;
    text-align: center;
    color: var(--primary-color);
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--font-color);
}

footer p {
    margin: 0;
}

.social-links {
    display: flex;
    justify-content: flex-end;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}

.social-links img {
    max-height: 30px;
    text-decoration: none;
}